<st-sidebar></st-sidebar>

<div class="main-container">
  <st-navbar></st-navbar>

  <div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" style="">

    <section>
      <div class="page-header">
        <div class="actions">
          <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
          <a href="#/diagrams" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-arrow-back"></span></a>
        </div>
        <h1>      <i class="md md-camera"></i>      Diagram Detail    </h1>
        <p class="lead"></p>
      </div>
    </section>

    <section>
      <div #myDiagramDiv class="diagram">Diagram</div>
    </section>
  </div>

</div>
