.aside {
  margin-left: 0 !important;
}
.footer-buttons {
  z-index: 9999;
}
pre {
  border: none !important;
}
.diagram {
  width: 100%;
  height: calc(100vh - 200px);
  // background-color: #DAE4E4
}
