<st-sidebar></st-sidebar>

<div class="main-container">
  <st-navbar></st-navbar>

  <div class="footer-buttons">
    <div class="btn btn-primary btn-round btn-lg" data-title="New Item" data-toggle="tooltip" (click)="add()"><i class="md md-add"></i></div>
  </div>

  <div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" style="">
    <section>
      <div class="page-header">
        <div class="actions">
          <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
          <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
          <i class="md md-camera"></i>
          Watches
        </h1>
        <p class="lead"></p>
      </div>
    </section>

    <div *ngIf="watches">
      <div class="table-responsive well no-padding white no-margin">
        <h3 class="table-title">
          Watches ({{ watches.length }})
          <small></small>
        </h3>
      </div>

      <ngx-datatable
        class="material expandable"
        [rows]="watches"
        [sortType]="'multi'"
        [columnMode]="'force'"
        [headerHeight]="42"
        [rowHeight]="50"
      >
        <ngx-datatable-column name="ICON" [width]="100">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <i class="md darken-1 icon-color" [ngClass]="icons[row.sector]"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ACTION" [width]="80">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <i class="md darken-1 icon-color" [ngClass]="actions[row.action]"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SYMBOL" [width]="80">
        </ngx-datatable-column>
        <ngx-datatable-column name="PRICE" [width]="80">
          <ng-template let-value="value" ngx-datatable-cell-template>
            ${{ value }}
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="PROFIT" [width]="100">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | number:'.0-2' }}%
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="RISK" [width]="100">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | number:'.0-2' }}%
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="SCORE" [width]="100">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | number:'.0-0' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="OWN" [width]="80" prop="quantity">
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="SECTOR" [width]="100">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | titlecase }}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="INDUSTRY" [width]="100">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | titlecase }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="DATE" [width]="100">
        </ngx-datatable-column>
        <ngx-datatable-column name="ACTION" [width]="100" prop="$key">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-link btn-lg" data-title="Edit item" (click)="edit(row)"><i class="md md-edit"></i></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

</div>
