/**
 * General layout
 *
 * @date 07/27/17
 * @author Fang Jin <fang-a.jin@db.com>
 */

main.page-full {
  padding-left: 0;
  .center {
    margin-top: 40px;
  }
}

aside.sidebar {
  width: 260px;
  left: -270px;

  @media (min-width: $screen-md-min) {
    left: 0;
  }
}

.loader-wrapper {
  position: fixed;
  z-index: 9999;
  overflow: show;
  top: 200px;
  left: 49%;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 0.95;
}

.transparent {
  background: rgba(0, 0, 0, 0) !important;  
}
