<st-sidebar></st-sidebar>

<div class="main-container">
  <st-navbar></st-navbar>

  <div class="footer-buttons">
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" data-title="Scroll to top" data-toggle="tooltip">
      <i class="md md-arrow-drop-up"></i>
    </div>
    <div class="btn btn-primary btn-round btn-lg" data-title="Edit Item" data-toggle="tooltip" (click)="sidenav.toggle()">
      <i class="md md-edit"></i>
    </div>
  </div>

  <div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" style="">
    <section>
      <div class="page-header">
        <div class="actions">
          <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
          <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-search"></span></button>
        </div>
        <h1>
          <i class="md md-camera"></i>
          Account Statement - 2017 Aug
        </h1>
        <p class="lead"></p>
      </div>
    </section>

    <div *ngIf="maps">

      <div class="table-responsive well no-padding white no-margin" *ngFor="let entry of maps">

        <h3 class="table-title">
          <i class="md {{ icons[entry.type] }}"></i>
          {{ types[entry.type]?.title | titlecase }} ({{ entry.records.length }})
          <small>{{ types[entry.type]?.description }}</small>
        </h3>

        <table class="table table-full m-b-60">
          <thead>
            <tr>
              <th>Account<i class="md md-sort"></i></th>
              <th>Flow<i class="md md-sort"></i></th>
              <th>Balance<i class="md md-sort"></i></th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of entry.records">
              <!-- <td class="f20">
                <i class="md darken-1 icon-color"></i>
              </td> -->
              <td>
                {{ item.title | titlecase }} <br />
                <small>{{ item.number }}</small>
              </td>
              <td>$ {{ item.flow | number:'.2' }}</td>
              <td>$ {{ item.balance | number: '.2' }}</td>
              <td class="text-right">
                <a class="btn btn-link btn-round" data-title="Edit item" (click)="editRecord(item)"><i class="md md-edit"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
