<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <button type="button" class="navbar-toggle pull-left m-15" data-activates=".sidebar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <ul class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Crud</li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
      <li class="dropdown pull-right">
        <button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" data-template-url="assets/tpl/partials/dropdown-navbar.html"> <i class="md md-more-vert f20"></i> </button>
      </li>
      <li class="dropdown pull-right">
        <button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" data-template-url="assets/tpl/partials/theme-picker.html"> <i class="md md-settings f20"></i> </button>
      </li>
      <li navbar-search="" class="pull-right">
        <div>
          <div class="mat-slide-right pull-right">
            <form class="search-form form-inline pull-left ">
              <div class="form-group">
                <label class="sr-only" for="search-input">Search</label>
                <input type="text" class="form-control" id="search-input" placeholder="Search" autofocus=""> </div>
            </form>
          </div>
          <div class="pull-right">
            <button class="btn btn-sm btn-link pull-left withoutripple"> <i class="md md-search f20"></i> </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
